<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <div>
        <img src="assets\images\CapgLogo.png" class="ufb-logo-module--logo--1jaPq">
    </div>

    <div class="spacer"> </div>
        <button mat-raised-button routerLink="userDisplay">UserDisplay</button>
         <!--<div class="spacer"> </div>
       <button mat-raised-button routerLink="hideShowColm">Hideand Show Colm</button>
        <div class="spacer"> </div>
        <button mat-raised-button routerLink="reusableTable">Reusable Table</button>-->
    
    

</mat-toolbar>