
.margin {
    margin: 0 12px;
  }
  .groups{
    margin: 12px 0;
    height: 30vh;
    overflow: auto;
    
  }
  .panel{
    width: 100%;
    height: 10%;
    overflow: auto;
    
  }
  .select_columns{
    width: 100%;
    
  
  }
  
  
  .container {
    position: relative;
    
    
  }
  .card {
    max-width: 1000px;
  background-color: blue;
    
    
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
  
  }
  
  .table-container {
    
      position: relative;
      min-height: 200px;
      max-height: 400px;
      overflow: auto;
      
      
    }
    table {
      width: 100%;
     
      
    }
  
    /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
   
  }
  
  .mat-column-created {
    max-width: 124px;
    
  }
  
  mat-card{
    margin:2%;
  }
  
  button{
  margin: 2%;
  color: blue;
  }
  .mat-card-footer{
    background-color: gray;
  }
  
  .mat-primary {
    background: #4646e0;
    color: white;
  }
  