<div class="frame">
	<div class="center">
		<div class="title">
			<h1>Drop file to upload</h1>
		</div>

    <div>

    <input class="file-upload-input" type="file" (change)="onFileChange($event)" />
    </div>

    <button class="btn" (click)="uploadFile()">Upload</button> 
</div>

<!-- <div class="frame">
	<div class="center">
		<div class="title">
			<h1>Drop file to upload</h1>
		</div>

		<div class="dropzone">
			
			<input type="file" class="upload-input" (change)="onFileChange($event)" />
		</div>

		<button type="button" class="btn" name="uploadbutton" (click)="uploadFile()">Upload file</button>

	</div>
</div>  -->